<table align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/drive/1zNauf0OFQPeR-TpQL15a-yZNfqYfnC33?authuser=1"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />Run in Google Colab</a>
  </td>
</table>

In [1]:
pip install GetOldTweets3

Collecting GetOldTweets3
  Downloading https://files.pythonhosted.org/packages/ed/f4/a00c2a7c90801abc875325bb5416ce9090ac86d06a00cc887131bd73ba45/GetOldTweets3-0.0.11-py3-none-any.whl
Requirement already satisfied: lxml>=3.5.0 in /usr/local/lib/python3.6/dist-packages (from GetOldTweets3) (4.2.6)
Collecting pyquery>=1.2.10
  Downloading https://files.pythonhosted.org/packages/78/43/95d42e386c61cb639d1a0b94f0c0b9f0b7d6b981ad3c043a836c8b5bc68b/pyquery-1.4.1-py2.py3-none-any.whl
Collecting cssselect>0.7.9
  Downloading https://files.pythonhosted.org/packages/3b/d4/3b5c17f00cce85b9a1e6f91096e1cc8e8ede2e1be8e96b87ce1ed09e92c5/cssselect-1.1.0-py2.py3-none-any.whl
Installing collected packages: cssselect, pyquery, GetOldTweets3
Successfully installed GetOldTweets3-0.0.11 cssselect-1.1.0 pyquery-1.4.1

In [2]:
import GetOldTweets3 as got
import pandas as pd
import time

In [3]:
def get_tweets(state, startdate, enddate, maxtweet,radius):
    tweetCriteria = got.manager.TweetCriteria().setNear(state)\
                                              .setSince(startdate)\
                                              .setUntil(enddate)\
                                              .setWithin(radius)\
                                              .setMaxTweets(maxtweet)
    tweet = got.manager.TweetManager.getTweets(tweetCriteria)
    
    text_tweets = [[tw.username,
                tw.text,
                tw.date,
                tw.retweets,
                tw.favorites,
                tw.mentions,
                tw.hashtags,
                tw.geo] for tw in tweet]
    df_state= pd.DataFrame(text_tweets, columns = ['User', 'Text', 'Date', 'Favorites', 'Retweets', 'Mentions','Hashtags', 'Geolocation'])
    
    return df_state

In [7]:
start_time = time.process_time()
df_wellington = get_tweets("Wellington, New Zealand","2020-03-25","2020-03-26",100000,"500mi")
elapsed_time = time.process_time() - start_time
print(elapsed_time)

An error occured during an HTTP request: HTTP Error 429: Too Many Requests
Try to open in browser: https://twitter.com/search?q=%20near%3A%22Wellington%2C%20New%20Zealand%22%20within%3A500mi%20since%3A2020-03-25%20until%3A2020-03-26&src=typd

SystemExit: ignored

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2890: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [5]:

df_wellington.tail()

Empty DataFrame
Columns: [User, Text, Date, Favorites, Retweets, Mentions, Hashtags, Geolocation]
Index: []

In [ ]:
df_wellington.to_csv("Wellingtontweets.csv")

In [ ]:
covid_count = df_wellington.Text.str.count("covid|corona|covi|virus")
covid_count.sum()

500

In [ ]:
covid_count.value_counts()

0    9704
1     138
2     127
3      20
4       8
5       2
6       1
Name: Text, dtype: int64

In [ ]:
df_covid=df_wellington[df_wellington.Text.str.contains("corona|covi|virus|lockdown|bubble|home|level|sanit")]

In [ ]:
df_covid.set_index('Date', inplace=True)

In [ ]:
df_covid.head()

                                   User  ... Geolocation
Date                                     ...
2020-03-30 23:56:42+00:00     xenonwolf  ...
2020-03-30 23:55:46+00:00  AlexM_Wailan  ...
2020-03-30 23:55:39+00:00   KevinHMTang  ...
2020-03-30 23:55:36+00:00    elee_bella  ...
2020-03-30 23:52:17+00:00    elee_bella  ...

[5 rows x 7 columns]

In [ ]:
df_covid.tz_convert('NZ')

                                      User  ... Geolocation
Date                                        ...
2020-03-31 12:56:42+13:00        xenonwolf  ...
2020-03-31 12:55:46+13:00     AlexM_Wailan  ...
2020-03-31 12:55:39+13:00      KevinHMTang  ...
2020-03-31 12:55:36+13:00       elee_bella  ...
2020-03-31 12:52:17+13:00       elee_bella  ...
...                                    ...  ...         ...
2020-03-31 00:07:50+13:00  nightingalesurg  ...
2020-03-31 00:07:27+13:00     vvanluvghost  ...
2020-03-31 00:06:26+13:00        todd_said  ...
2020-03-31 00:06:07+13:00  bianca_demarchi  ...
2020-03-31 00:05:45+13:00     Monsoonchick  ...

[703 rows x 7 columns]